section(id=index)
    section
        section.photo
            img(src=section.frontPhoto)
        section
            h1= section.title
            p= section.description
            a.btn.default.download(href=section.download.url)= section.download.text